<app-nav-bar></app-nav-bar>
<div class="grid h-full grid-cols-4 gap-4 p-10">
  <div
    [routerLink]="'/iris-flower'"
    class="flex flex-col items-center h-40 p-5 border rounded-md shadow-md cursor-pointer border-blue-50 bg-blue-50 shadow-blue-200"
  >
    <h2>Iris Flower Example</h2>
    <p class="text-center text-gray-600">
      Deep Learning | Supervised Learning | Feed forward neural network |
      Classification
    </p>
  </div>
  <div
    [routerLink]="'/movie-rating'"
    class="flex flex-col items-center h-40 p-5 border rounded-md shadow-md cursor-pointer border-blue-50 bg-blue-50 shadow-blue-200"
  >
    <h2>Moview Rating</h2>
    <p class="text-center text-gray-600">
      Deep Learning | Supervised Learning | Feed forward neural network |
      Regression
    </p>
  </div>
  <div
    [routerLink]="'/cat-and-dog'"
    class="flex flex-col items-center h-40 p-5 border rounded-md shadow-md cursor-pointer border-blue-50 bg-blue-50 shadow-blue-200"
  >
    <h2>Cat And Dog</h2>
    <p class="text-center text-gray-600">
      Deep Learning | Supervised Learning | Convolutional Neural Network(CNN) |
      Classification
    </p>
  </div>
</div>
<app-footer></app-footer>
